.s-activities {
    position: relative;

    .a-title__wrap {
        @include position(absolute, 40px, unset, unset, 50%);
        transform: translateX(-50%);
    }

    &__item {
        margin-top: 90px;
    }
    
    &__item:first-child {
        margin-top: 0;
    }
    
    &__link::after {
        content: '>';
    }

    &__bgImg {
        @include bg-img(cover, top center);
        height: 100vh;
        background-image: url(../images/placeholders/balloons.jpg);
    }
}
  