.s-blogPreview {
    display: block;
    margin-top: 50px;
    background-color: $white;
    box-shadow: $outer;
    color: $gray;

    &__date,
    &__author,
    &__desc,
    h3 {
        color: $gray;
    }

    h3 {
        font-weight: 500;
    }

    &__img {
        @include bg-img(cover, center);

        height: 350px;
        background-image: url(../images/doggo.jpg);
    }

    &__category,
    .a-link  {
        display: block;
        padding: 5px 15px;
        background-color: $brand-primary;
        font-weight: 600;
        color: $white;
    }

    &__info {
        padding: 15px 15px;
        background-color: $white-e;
    }

    &__date,
    &__author {
        display: inline-block;
        margin-top: 10px;

        i {
            margin-right: 5px;
        }
    }

    &__author {
        margin-left: 15px;
    }

    &__desc {
        @include textLineCut(4);
        padding: 15px 15px 0;
        border-top: 1px solid $gray-a;
        background-color: $white;
    }

    .a-link {
        width: 160px;
        margin: 20px 0 0 auto;
        border: 1px solid $orange;
        background-color: $orange;
        transition: $transition;

        &:hover {
            background-color: $white;
            color: $orange;
        }
    }
}