.footer {
    &__topRow {
        background-color: $gray-a;
        border-top: $gray;
        box-shadow: $innder;
        padding: 30px 0;
    }
    
    &__title {
        color: $white;
        font-size: 22px;
    }
    
    &__bottomRow {
        background-color: $gray;
        padding: 30px 0;
    }
    
    &__bottomRow .container {
        text-align: center;
    }
    
    &__icon {
        font-size: 30px;
        color: $white;
        margin: 0 10px;
        transition: 0.3s;
    }
    
    &__icon :hover{
        color: $brand-primary;
    }
}

