.s-header {
    position: relative;

    &.-inner {
        padding: 70px 7px 20px;

        @media screen and (min-width: 768px) {
            min-height: 250px;
            padding: 90px 0 20px;

            .a-title {
                color: $black-2;
                &::after {
                    background-color: transparent;
                }
            }
        }
    }

    &.-blog {
        background-color: $white;
    }

    &.-post {
        min-height: unset;
        margin-top: 25%;
        background-color: rgba($white, .8);
    }
}