.s-header {
    position: relative;

    &.-inner {
        padding: 20px 7px;
        background: $white;
        background: linear-gradient(0deg, rgba($white,1) 0%, rgba(253,187,45,1) 100%);

        .a-title {
            color: $white;
        }

        @media screen and (min-width: 768px) {
            min-height: 250px;
            padding: 40px 0;
            background-color: transparent;

            .a-title__wrap {
                width: 50%;
                margin: 0 auto;
            }

            .a-title {
                color: $black-2;
            }
        }
    }

    &__img {
        display: none;

        @media screen and (min-width: 768px) {
            @include position(absolute, 0, 0, 0, 0);

            display: block;
            opacity: 0.8;
            background-image: url(../images/2019-08-09-020-500x300.jpg);
            background-repeat: no-repeat;
            background-size: 100%;
            background-position-y: 40%;
            filter: blur(8px);
            z-index: -1;

            &.-classes {
                background-image: url(../images/placeholders/online.jpg);
            } 

            &.-blog {
                background-image: url(../images/placeholders/blog.jpg);
            }

            &.-events {
                background-image: url(../images/placeholders/trip.jpg);
                background-position-y: 80%;
            }
        }
    }

    .a-desc {
        color: $black;
    }
}