.s-header {
    position: relative;
    &.-inner {
        padding: 40px 0;

        .a-title__wrap {
            width: 50%;
            margin: 0 auto;
        }
    }

    &__img {
        @include position(absolute, 0, 0, 0, 0);
        opacity: 0.8;
        background-image: url(../images/2019-08-09-020-500x300.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position-y: 40%;
        filter: blur(8px);
        z-index: -1;
    }
}