.s-2Layer {

    & > div {
        height: 100vh;
        overflow: auto;
    }

    &__img {
        @include bg-img(cover, bottom center);
        background-image: url(../images/placeholders/pen.jpg);
    }
}

.s-2LayerCards {
    @include displayFlex(flex, center, center);
    @include bg-img(cover, top center);
    height: 100vh;
    background-image: url(../images/placeholders/book.jpg);
}

.s-about,
.s-homeBlog,
.s-activities,
.s-blogTestimonial {
    position: relative;

    @media screen and (min-width: 1140px) {
        height: 100vh; 
    }
}

.s-homeBlog,
.s-activities {
    padding: 50px 0;
}

.s-homeBlog,
.s-activities {
    background-color: $brand-secondary;
}
.s-blogTestimonial {
    @include bg-img(cover, center);
    padding: 50px;
}

.header {
    position: relative;
}