.s-2Layer {

    & > div {
        height: 100vh;
        overflow: auto;
    }

    &__img {
        @include bg-img(cover, bottom center);
        background-image: url(../images/placeholders/pen.jpg);
    }
}

.s-2LayerCards {
    @include displayFlex(flex, center, center);
    @include bg-img(cover, top center);
    height: 100vh;
    background-image: url(../images/placeholders/book.jpg);
}

.s-homeBlog {
    padding: 40px 0;
    background-color: $brand-secondary;

    @media screen and (min-width: 1140px) {
        height: 100vh; 
    }
}