.s-offers {
    margin-top: 0;
    background: $gray-e;

    &__heading {
        margin-top: 35px;
    }

    &__list {
        padding-left: 35px;

        li {
            list-style: disc;
            color: $brand-primary;
        }
    }
}