.s-sidebar {
    position: relative;
    background-color: $white;
    box-shadow: $outer;
    margin-top: 50px;
    padding: 20px 50px;
    border-left: 5px solid $brand-primary;

    &::before,
    &::after {
        position: absolute;
        left: 10px;
        content: '';
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: rgba($gray-a, .5);
    }

    &::before {
        top: 30%;
    }

    &::after {
        top: 60%;
    }

    &__content {
        margin-top: 20px;

        li {
            margin-top: 8px;
            padding-left: 10px;
            border-bottom: 1px solid rgba($gray-a, .8);
        }

        a {
            font-size: 16px;
            color: $gray;
        }
    }
}