@font-face {
    font-family: 'OpenSans-Regular';
    src: url('#{$fonts-directory}/'),
    url('#{$fonts-directory}/open-sans/OpenSans-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}