body {
    color: $gray;
    scroll-behavior: smooth;
}

.block-scroll {
    overflow: hidden;
}

.header img {
    width: 100%;
}

.hide {
    display: none;
}

// Display
.d-block,
.active {
    display: block;
}

.hideOnMobile {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.active-flex {
    display: flex;
}


// Text 
a {
    color: $gray;
    transition: .3;

    &:hover {
        color: inherit;
        text-decoration: underline;
    }
}

.c-pointer {
    cursor: pointer;
}


[class^="col"] {
    position: relative;
    z-index: 1;
}
