body {
    background-color: $white-3;
    transition: $transition;
    color: $gray;
}

.main-content {
    
    @media screen and (min-width: 768px) {
        padding: 100px 0;
        background-image: url(../images/placeholders/background.jpg);
    }
}

.header img {
    width: 100%;
}

input[type=text],
input[type=email],
select {
    padding-bottom: 3px;
    border: none;
    border-bottom: 2px solid $brand-primary;
    background: none;
}

input[type=text],
input[type=email] {
    width: 100%;
}

.hide {
    display: none;
}

// Display
.d-block,
.active {
    display: block;
}


// Text 
a {
    transition: .3;

    &:hover {
        color: #529149;
    }
}

.c-pointer {
    cursor: pointer;
}