body {
    background-color: $white-3;
    transition: $transition;
    color: $gray;
}

.block-scroll {
    height: 100%;
    overflow: hidden;
}

.main-content {
    padding-bottom: 50px;
    background-image: url(../images/placeholders/background.jpg);
    
    @media screen and (min-width: 768px) {
        padding: 100px 0;
    }
}

.header img {
    width: 100%;
}

input[type=text],
input[type=email],
select {
    padding-bottom: 3px;
    border: none;
    border-bottom: 2px solid $brand-secondary;
    background: none;
}

input[type=text],
input[type=email] {
    width: 100%;
}

.hide {
    display: none;
}

// Display
.d-block,
.active {
    display: block;
}

.hideOnMobile {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.active-flex {
    display: flex;
}


// Text 
a {
    transition: .3;

    &:hover {
        color: #fdbb2d;
    }
}

.c-pointer {
    cursor: pointer;
}