.page {
    &__content {
        margin-bottom: 50px;
        padding: 50px 0;
        background-color: rgba($white, .8);
    }

    &.-inner {
        @include bg-img(cover, center);
        background-image: url(../images/placeholders/laptop.jpg);
    }

    &.-about {
        @include bg-img(cover, center);
        background-image: url(../images/placeholders/room.jpg);

        .main-content {
            padding-bottom: 50px;
        }
    }

    &.-blog {
        background-color: $brand-secondary;

        .page__content {
            background-color: unset;
        }
    }

    &.-singleEvent {
        background-image: url(../images/placeholders/event.jpg);
    }

    &.page404 {
        background-color: $brand-secondary;

        .page__content {
            background-color: $brand-secondary;

            a {
                display: block;
                font-size: 20px;
                font-weight: 600;
            }
        }

        .page404__img {
            display: block;
            margin: 35px auto;

            @media screen and (min-width: 992px) {
                @include position(absolute, 33%, unset, unset, 50%);
                transform: translate(-50%, -50%);
            }
        }
    }
}

.p-post {
    position: relative;
    background-color: $gray-e;

    .page__content {
        padding: 0;
    }

    &__postImg {
        position: absolute;
        z-index: -1;
    }

    &__header {
        @include displayFlex(flex, center, space-between);
        padding: 10px 40px;
        background-color: $brand-secondary;
    }

    &__headerSocial {
        a:hover {
            text-decoration: none;
        }

        i {
            margin-left: 10px;
            font-size: 25px;
        }
    }

    .m-block {
        margin-top: 0;
    }
}