$brand-primary: #529149;
$brand-primary05: rgba($brand-primary, .5);

$black: #000;
$black: #212529;

$gray: #4a4a4a;
$gray-a: #a3a3a3;

$white: #fff;
$white-3: #f3f3f3;
$white-e: #eee;

$orange: #db920b;

$blue: #4ea0b0;

$red: #b04e4e;