$brand-primary: #fdbb2d;

$brand-secondary: #b4ded4;
$brand-secondaryDarken: #448777;
$brand-secondaryBtn: #8cb9ae;



$black: #000;
$black-2: #212529;

$gray-3: #333;
$gray: #4a4a4a;
$gray-a: #a3a3a3;
$gray-e: #e6e5eb;

$white: #fff;
$white-3: #f3f3f3;
$white-e: #eee;

$blue: #4ea0b0;

$red: #b04e4e;