.m-banner {

    .m-banner__title {
        font-size: 35px;
    }

    &.active-serbian {
        @include bg-img(cover, center);

        padding: 50px;
        background-image: url(../images/placeholders/cool-background.png);

        .m-banner__title {
            color: $brand-primary;
        }
    }

    &.support {
        padding: 50px;
        background-color: $brand-primary;

        .m-banner__title {
            padding-left: 100px;

            &::before {
                content: "+";
                font-size: 150px;
                color: $white;
                position: absolute;
                top: -125px;
                left: 0;            
            }
        } 
    }
}