.m-banner {

    .m-banner__title {
        font-size: 35px;
    }

    &.active-serbian {
        @include bg-img(cover, center);

        padding: 50px 0;
        background-image: url(../images/placeholders/cool-background.png);

        .m-banner__title {
            color: $brand-primary;
        }

        @media (min-width: 768px) {
            padding: 50px 20px;
        }
    }

    &.support {
        padding: 50px 20px;
        background-color: $brand-primary;

        .m-banner__title {
            @media (min-width: 768px) {
                padding-left: 100px;
            }
            
            &::before {
                content: "+";
                font-size: 150px;
                color: $white;
                position: absolute;
                top: -133px;
                left: 0;            
            }
        } 
    }
}