.m-card {
    position: relative;
    padding: 30px;
    box-shadow: $outer;
    text-align: center;
    background-color: rgba($brand-primary, .92);

    &__icon {
        height: 24px;
    }

    &__title {
        margin: 18px 0;
        display: block;
        font-size: 16px;
        font-weight: 600;
        color: $black;
        text-transform: uppercase;
    }

    &:nth-child(2) {
        background-color: rgba($blue, .9);
    }

    &:nth-child(3) {
        background-color: rgba($brand-secondary, .7);
    }
        
    &:nth-child(4) {
        background-color: rgba($red, .5);
    }

    @media screen and (min-width: 768px) {
        margin: 0 15px;
    }
}

.m-card__wrap {
    display: flex;
    flex-wrap: wrap;

    &.-members {
        align-items: flex-start;
        justify-content: space-around;
        background: none;

        .m-card {
            width: 350px;
            height: 450px;
            padding: 0;
            padding-top: 30px;
            border: 4px solid $gray;
            background-color: transparent;

            > * {
                padding: 5px 30px;
            }
        }

        .m-card__img {
            @include position(absolute, 0, 0, 0, 0);
            z-index: -1;
            overflow: hidden;
            padding: 0;
        }

        .m-card__info {
            @include position(absolute, unset, 30px, -4px, 30px);
            padding: 0;
            border: 4px solid $gray;
            border-bottom: 0;

            &.-open {
                left: -3px;
                right: -3px;
            }
        } 

        .m-card__title,
        .m-card__contact {
            margin: 0;
            background-color: $brand-primary;
            color: $white;
            text-transform: none;
        }

        .m-card__name {
            display: block;
            padding: 10px 0;
            background-color: $white-e;
            font-family: 'handwritten';
            font-weight: 600;
            font-size: 20px;
        }

        .m-card__about {
            display: none;
            margin: 0;
            max-height: 332px;
            overflow: auto;
            padding: 15px 30px;
            border-top: 1px solid $gray-a;
            background-color: $white;
        }

        .m-card__contact {
            margin-top: 0;
            padding: 5px 0;
            border-top: 1px solid $gray-a;
        }

        .m-card__link {
            padding: 15px;
            color: $white;
            cursor: pointer;

            &:hover {
                color: $black;
            }
        }
    }

    &.-blog {
        justify-content: center;

        .m-card {
            position: relative;
            overflow: hidden;
            z-index: 1;
            display: flex;
            align-items: flex-end;
            max-width: 350px;
            height: 500px;
            margin-top: 30px;
            padding: 0;
            background-color: transparent;
            transition: $transition;

            img {
                padding: 0;
                position: absolute;
                bottom: 0;
                z-index: -1;
            }

            &__info {
                background: $white;
                width: 90%;
                margin: 0 auto;
            }

            .a-desc {
                @include textLineCut(3);
            }

            &:hover {
                transform: scale(1.05);
                color: $black;
            }
        }
    }
}

