.m-card {
    padding: 30px;
    box-shadow: $outer;
    text-align: center;
    background-color: $brand-primary05;

    &__icon {
        height: 24px;
    }

    &__title {
        margin: 18px 0;
        display: block;
        font-size: 16px;
        font-weight: 600;
        color: $black;
        text-transform: uppercase;
    }

    &:nth-child(2) {
        background-color: rgba($blue, .5);
    }

    &:nth-child(3) {
        background-color: rgba($orange, .5);
    }
        
    &:nth-child(4) {
        background-color: rgba($red, .5);
    }

    @media screen and (min-width: 768px) {
        max-width: 260px;
        margin: 0 15px;
    }
}

.m-card__wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;

    &.-members {
        align-items: flex-start;
        justify-content: space-around;

        .m-card {
            max-width: 350px;
            padding: 0;
            padding-top: 30px;
            background-color: $white;

            > * {
                padding: 5px 30px;
            }
        }

        .m-card__title,
        .m-card__contact {
            margin: 0;
            margin-top: 20px;
            background-color: $brand-primary;
            color: $white;
            text-transform: none;
        }

        .m-card__name {
            display: block;
            padding: 15px 30px;
            background-color: $white-e;
        }

        .m-card__about {
            padding: 15px 30px;
            border-top: 1px solid $gray-a;
        }

        .m-card__contact {
            margin-top: 0;
            padding: 15px 30px;
            border-top: 1px solid $gray-a;
        }

        .m-card__link {
            padding: 15px;
            color: $white;
            cursor: pointer;

            &:hover {
                color: $black;
            }
        }
    }

    @media screen and (min-width: 768px) {
        margin: 50px -10px 0;
        background: $white;
    }
}

