.m-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 700px;

    @media screen and (min-width: 992px) {
        flex-direction: row;
    }
    &> div {
        flex: 1 1 0;
        margin: 0 15px;
    }

    &__box {
        margin-top: 25px; 

        @media screen and (min-width: 768px) {
            width: 300px;
        }

        textarea {
            min-width: 230px;
            width: 100%;
        }
    }

    label {
        display: block;
    }

    .-required {
        &:after {
            content: '(obavezno)';
            color: $red;
        } 
    }
}

input[type=text],
input[type=email],
select {
    padding-bottom: 3px;
    border: none;
    border-bottom: 2px solid $gray;
    background: none;
}

input[type=text],
input[type=email] {
    width: 100%;
}

.m-search {
    position: relative;
    display: inline-block;

    input {
        width: 120px;
        border-color: $white;
    }

    &__icon {
        @include displayFlex(inline-flex, center,center);
        width: 30px;
        height: 30px;
        color: $white;
        cursor: pointer;
    }
}

.m-subscribe {
    height: 50px;
    display: flex;

    &__input {
        height: 100%;
        padding: 0 10px;
        border: 3px solid $brand-secondary;
        background-color: $white;
    }

    &__btn {
        border: 1px solid $brand-secondary;
        background-color: $brand-secondary;
    }
}