.m-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 700px;

    @media screen and (min-width: 992px) {
        flex-direction: row;
    }
    &> div {
        flex: 1 1 0;
        margin: 0 15px;
    }

    &__box {
        margin-top: 25px; 

        @media screen and (min-width: 768px) {
            width: 300px;
        }

        textarea {
            min-width: 230px;
            width: 100%;
        }
    }

    label {
        display: block;
    }

    .-required {
        &:after {
            content: '(obavezno)';
            color: $red;
        } 
    }
}

input[type=text],
input[type=email],
select {
    padding-bottom: 3px;
    border: none;
    border-bottom: 2px solid $gray;
    background: none;

    &.m-subscribe__input {
        border-bottom: none;
    }
}

input[type=text],
input[type=email] {
    width: 100%;
}

.m-search {
    position: relative;
    margin-top: 15px;

    input {
        width: 75%;
        border-color: $white;
    }

    .search-form {
        position: relative;
        z-index: 1;
    }

    .search-field {
        width: 75%;
        padding-left: 5px;
        border: none;
        background: transparent;
        color: $white;
        border-bottom: 2px solid $white;

        &::placeholder {
            color: $white;
        }
    }

    .search-submit{
        @include displayFlex(inline-flex, center,center);
        width: 30px;
        height: 30px;
        border: none;
        background: transparent;
        color: transparent;
    }

    &__icon {
        @include position(absolute, 0, 20px, unset, unset);
        @include displayFlex(inline-flex, center,center);
        width: 30px;
        height: 30px;
        color: $white;
        cursor: pointer;
    }

    @media screen and (min-width: 992px) {
        display: inline-block;
        margin-top: 0;

        input {
            width: 120px;
        }
    }
}

.m-subscribe {
    height: 50px;
    display: flex;
    background-color: $white;

    &__input {
        height: 100%;
        padding: 0 10px;
        background-color: $white;
    }

    &__btn {
        padding: 0 15px;
        border: 1px solid $brand-secondaryBtn;
        background-color: $brand-secondaryBtn;
    }
}