.grid {
    &.m-card__wrap {
        .stamp {
            position: absolute;
        }
        .stamp1 {
            left: 30%;
            top: 10px;
            width: 20%;
            height: 30px;
        }

        .grid-item {
            margin: 0 auto;
        }
    }
}

