.m-nav {
    @include displayFlex(flex, center, space-between);
    @include position(fixed, 0, 0, unset, 0);
    @include bgcolorOpacity($black, .7);
    z-index: 100;
    padding: 0 20px;

    &__logo {
        max-width: 180px;
    }

    .m-nav__wrap {
        @include displayFlex(flex, center, space-between);

        @media screen and (max-width: 991px) {
            @include position(absolute, 51px, 0, unset, 0);

            z-index: 1;
            height: 100vh;
            display: none;
            padding: 20px 0;
            background: rgba($black, .85);
            text-align: center;

            .m-nav__list {
                flex-direction: column;
                align-items: center;
            }
        }
    }

    &__list {
        display: flex;

        a {
            display: block;
            width: 100%;
            border-bottom: 1px solid $white;
            padding: 10px 20px;
            color: $white;
            transition: $transition;

            &:hover {
                background-color: $brand-primary;
                color: $black;
                text-decoration: none;
            }

            @media screen and (min-width: 992px) {
                width: unset;
                border: none;
            }
        }

        .current_page_item{
            background-color: $brand-primary;
            color: $black;

            @media screen and (min-width: 992px) {
                border-bottom: 5px solid $brand-primary;
                background-color: unset;
                color: $brand-primary; 
            }
        }
    }
}