.m-nav {
    @include displayFlex(flex, center, space-between);
    position: relative;
    padding: 20px 0;
    background: rgba($white, .6);

    &__logo {
        max-width: 180px;
    }
    
    @media screen and (min-width: 768px) {
        background: none;
    }

    .m-nav__wrap {
        @include displayFlex(flex, center, space-between);

        @media screen and (max-width: 767px) {
            @include position(absolute, 90px, 0, unset, 0);

            z-index: 1;
            display: none;
            padding: 20px 0;
            background: $white;
            background: linear-gradient(0deg, rgba($white,1) 0%, rgba(253,187,45,1) 100%);
            text-align: center;

            .m-nav__list {
                flex-direction: column;
                align-items: center;

                li {
                    padding: 5px 20px;
                }
            }
        }
    }

    &__list {
        display: flex;

        li {
            padding: 0 20px;
        }

        .-active {
            border-bottom: 1px dashed $brand-primary;
            color: $brand-primary;
        }
    }
}