.m-nav {
    @include displayFlex(flex, center, space-between);
    @include position(fixed, 0, 0, unset, 0);
    @include bgcolorOpacity($black, .7);
    z-index: 1;
    padding: 10px 20px;

    &__logo {
        max-width: 180px;
    }

    .m-nav__wrap {
        @include displayFlex(flex, center, space-between);

        @media screen and (max-width: 767px) {
            @include position(absolute, 90px, 0, unset, 0);

            z-index: 1;
            height: 100vh;
            display: none;
            padding: 20px 0;
            background: $white;
            background: linear-gradient(0deg, $brand-primary 0%, $white 100%);
            text-align: center;

            .m-nav__list {
                flex-direction: column;
                align-items: center;

                li {
                    padding: 5px 20px;
                }
            }
        }
    }

    &__list {
        display: flex;

        li {
            padding: 0 20px;
            color: $white;
        }

        .a-link {
            color: $white;
            transition: $transition;

            &:hover {
                color: $brand-primary;
            }
        }

        .-active {
            border-bottom: 1px dashed $brand-primary;

            @media screen and (min-width: 768px) {
                border-bottom: 1px dashed $brand-primary;
                color: $brand-primary; 
            }
        }
    }
}