.m-prosAndCons {
    position: relative;

    &:before,
    &:after {
        @include position(absolute, 0, unset, 0, unset);
        content: '';
        width: 50%;
    }

    &::before {
        left: 0;
        background-color: $brand-secondary;
    }

    &::after {
        right: 0;
        background-color: $red-light;
    }
}