.m-tab {
    display: flex;
    align-items: center;
    border-bottom: 4px solid $brand-secondary;
    background: $gray-e;

    &__item {
        padding: 10px 10px 5px;
        font-size: 15px;
        cursor: pointer;
        transition: $transition;

        &.-active,
        &:hover  {
            background: $brand-secondary;
        }
    }

    @media screen and (min-width: 768px) {
        &__item {
            padding: 10px 15px;
            font-size: 20px;
        }
    }
}