.m-tab {
    display: flex;
    align-items: center;
    margin: 0 -30px;
    padding: 10px 0;
    border-bottom: 1px solid $brand-primary05;
    background: $white;

    &__item {
        margin-left: 20px;
        padding: 10px 10px 5px;
        font-size: 15px;
        cursor: pointer;

        &.-active {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            color: $brand-primary;
        }

        &:first-child {
            margin-left: 0;
        }
    }

    @media screen and (min-width: 768px) {
        margin: unset;
        padding: unset;

        &__item {
            padding: 10px 15px;
            font-size: 20px;
    
            &.-active {
                background-color: $brand-primary05;
                color: $white;
            }
        }
    }
}