.a-btn {
    display: inline-block;
    padding: 10px 5px;
    border-radius: 5px;
    border: 2px solid $brand-primary;
    background: $brand-primary;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: $white;
    transition: $transition;
    cursor: pointer;

    @media screen and (min-width: 768px) {
        padding: 20px 40px;
    }

    &:hover {
        border-color: $brand-primaryDarken;
        background: $brand-primaryDarken;
        color: $white;
        text-decoration: none;
    }

    &.-formLink {
        margin-top: 40px;
        font-size: 20px;
    }

    &.-smaller {
        margin-top: 10px;
        padding: 10px 20px;
    }

    &.-inline-block {
        display: inline-block;
    }

    &.-secondary {
        border-color: $brand-secondaryBtn;
        background: $brand-secondaryBtn;

        &:hover {
            border-color: transparent;
            background: $brand-secondaryDarken;
            color: $white;
        }
    }

}