.a-desc {
    margin-top: 15px;
    font-size: 17px;
    line-height: 1.7;

    &::selection {
        background: $brand-secondary;
    }

    &.-homeCutText {
        @include textLineCut(8);

        @media screen and (min-width: 768px) {
            -webkit-line-clamp: unset;
        }
    }

    &.-mobile {
        @media (max-width: 767px) {
            margin: 0 -10px;
            padding: 10px;
            background-color: rgba($white, .5);
        }
    }
}