.a-closeIcon {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;

    &:before,
    &:after {
        position: absolute;
        top: 0;
        right: 0;
        content: '';
        width: 20px;
        height: 20px;
        border-bottom: 2px solid $black-2;
        transition: $transition;
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
        right: 13px;
    }

    &:hover {
        &:before,
        &:after {
            border-bottom: 2px solid $red;
        }
    }
}

.a-burger {
    width: 30px;

    span {
        display: block;
        height: 9px;
        border-bottom: 2px solid $white;
        transition: $transition;
    }

    &.open {
        span {
            &:first-child {
                transform: rotate(45deg); 
            }

            &:nth-child(2) {
                position: relative;
                top: -9px;
                right: 5px;
                transform: rotate(-45deg);
            }

            &:last-child {
                display: none;
            }
        }
    }

    @media screen and (min-width: 992px) {
        display: none;
    }
}