.a-link {
    color: $gray;
    display: block;
    font-size: 18px;

    &:hover {
        color: $brand-primary;
    }

    &.-homeCutText {
        display: block;
        text-align: right;

        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    &.-openLink {
        position: relative;

        .material-icons {
            @include position(absolute, unset, -10px, -15px, unset);

            font-size: 32px;
        }
    }
}
