.a-link {
    color: $gray;
    display: block;
    font-size: 18px;
    transition: $transition;

    &:hover {
        color: $brand-secondaryDarken;
    }

    &.-homeCutText {
        display: block;
        text-align: right;

        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    &.-openLink {
        position: relative;
        display: inline-block;
        margin: 25px 50px;

        .material-icons {
            @include position(absolute, unset, -10px, -15px, unset);

            font-size: 32px;
        }

        &:hover {
            text-decoration: none;
        }
    }
}
