.a-title {
    position: relative;
    display: inline-block;
    color: $black;

    &:before,
    &:after {
        content: '';
        width: 85px;
        height: 2px;
        background-color: $brand-primary05;
        position: absolute;
        top: 50%;
        left: -95px;
    }
      
    &:after {
      left: unset;
      right: -95px;
    }
}

.a-title__wrap {
  text-align: center;
}

