.a-title {
    position: relative;
    display: inline-block;
    font-family: 'handwritten';
    color: $black-2;

    &__inner {
      width: 90%;
      margin: 0 auto;
      text-align: center;
    }

    @media screen and (min-width: 768px) {

      &__inner {
        width: 60%;
      }
    }
}


