.a-title {
    position: relative;
    display: inline-block;
    font-family: 'handwritten';
    color: $black-2;

    &__inner {
      width: 60%;
      margin: 0 auto;
      text-align: center;
    }

    @media screen and (min-width: 768px) {
      &:before,
      &:after {
          content: '';
          width: 85px;
          height: 2px;
          background-color: $brand-primary05;
          position: absolute;
          top: 50%;
          left: -95px;
      }
        
      &:after {
        left: unset;
        right: -95px;
      }
    }
}


